.iconSign {
  width: 80px;
  height: 80px;
}
.signature-icon {
  width: 40px;
  height: 40px;
}
.button-div-sign {
  background-color: coral;
  width: 200px;
  height: 70px;
  border-radius: 10px;
}

.pt-controller {
  padding-top: 3rem;
}
.px-controller {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .pt-controller {
    padding-top: 2rem;
  }
  .px-controller {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 40px;
  }
}
